@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

nav {
  background-color: rgb(239, 215, 76);
}

ul {
  list-style-type: none;
}

.nav-link, a {
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  color: #412005;
}


a:hover {
  text-decoration: underline;
}

.logo a:hover {
  text-decoration: none;
}

.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

menu li a {
  display: block;
}

.logo a,
.toggle a {
  font-size: 20px;
}


.button.secondary {
  border-bottom: 1px #444 solid;
}


/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  order: 1;
}

.nav-link.button {
  order: 2;
}

.nav-link {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}


.nav-link.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor:pointer;
}
.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.bars:before,
.bars:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
      justify-content: center;
  }

  .logo {
      flex: 1;
  }

  .nav-link.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      order: 2;
  }
  .button.secondary {
      border: 0;
  }
  .button a {
      padding: 7.5px 15px;
      border: 1px rgb(55, 33, 14) solid;
      background: rgb(55, 33, 14); 
      border-radius: 5px;
      color: #fff;  
  }

  .button.secondary a {
      background: transparent; 
      border: 1px rgb(55, 33, 14) solid; 
      color: rgb(55, 33, 14)
      
  }

  .button a:hover {
      text-decoration: none;
      background: transparent;
      transition:all .25s;
      
  }

  .button:not(.secondary) a:hover {
      border-color: rgb(55, 33, 14);
      color:rgb(55, 33, 14)
  }

  .button.secondary a:hover {
      color: #fff;
      background-color: rgb(55, 33, 14);
  } 
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .nav-link {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;
  }
  .nav-link {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }
}


.menu-itam-holder .menu-itam-list .text-holder span {
  font-size: 12px;
  color: #a9a9a9;
  display: block;
  line-height: 16px;
  max-width: 71%;
}