{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main Section Start -->
<div class="main-section pt-5">
  <div class="page-section">
    <div class="container">
      <div class="flex-m-container">
        <div class="flex-col">
          <div class="tabs-holder horizontal">
           
            <div class="tab-content-1">
              <ul class="stickynav-tabs nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#billing-address"><i class="fa fa-shopping-cart text-danger"></i>Billing Address</a></li>
              </ul>
              <div id="billing-address" class="tab-pane in active">
                <div class="menu-itam-holder">
                  <div id="menu-item-list-6272" class="menu-itam-list">
                    <form action="{% url 'place_order' %}" method="POST" class="checkoutForm">
                      {% csrf_token %}
                      <div class="flex-row">
                        <div class="form-group flex-col">
                          <label>First Name:</label>
                          {{ form.first_name }}
                        </div>
                        <div class="form-group flex-col">
                          <label>Last Name:</label>
                          {{ form.last_name }}
                        </div>
                      </div>
                      <div class="flex-row">
                        <div class="form-group flex-col">
                          <label>Phone Number:</label>
                          {{ form.phone }}
                        </div>
                        <div class="form-group flex-col">
                          <label>Email Address:</label>
                          {{ form.email }}
                        </div>
                      </div>
                      <div class="flex-row">
                        <div class="form-group flex-col">
                          <label>Address:</label>
                          {{ form.address }}
                        </div>
                      </div>
                      <div class="flex-row">
                        <div class="form-group flex-col">
                          <label>Country:</label>
                          {{ form.country }}
                        </div>
                        <div class="form-group flex-col">
                          <label>State:</label>
                          {{ form.state }}
                        </div>
                      </div>
                      <div class="flex-row">
                        <div class="form-group flex-col">
                          <label>City:</label>
                          {{ form.city }}
                        </div>
                        <div class="form-group flex-col">
                          <label>Zip Code:</label>
                          {{ form.zip_code }}
                        </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Your order section -->
        <div class="flex-col">
          <div class="tabs-holder horizontal">
           
            <div class="tab-content">
              <ul class="stickynav-tabs nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#your-order"><i class="icon- icon-room_service"></i>Your Order</a></li>
              </ul>
              <div id="your-order" class="tab-pane in active">
                <div class="menu-itam-holder">
                  <div id="menu-item-list-6272" class="menu-item-list">
                    <ul>
                      {% for item in cart_items %}
                      <li id="cart-item-{{item.id}}">
                        <div class="image-holder"> <img src="{{ item.fooditem.image.url }}" alt=""></div>
                        <div class="text-holder">
                          <h6>{{ item.fooditem }}</h6>
                          <span>{{ item.fooditem.description }}</span>
                          <a href="{% url 'vendor_detail' item.fooditem.vendor.vendor_slug %}" class="badge badge-warning">{{ item.fooditem.vendor }}</a>
                        </div>
                        <div class="quantity">
                          <span>{{ item.quantity }} QTY</span>
                        </div>
                        <div class="price-holder">
                          <span class="price">${{ item.fooditem.price }}</span>
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div>
                    <ul class="order-list">
                      <li style="list-style-type: none;">
                        Subtotal
                        <span class="price float-right">
                          <span class="currency">$</span>
                          <span id="subtotal">{{ subtotal }}</span>
                        </span>
                      </li>
                      <li style="list-style-type: none;">
                        Tax
                        <span class="price float-right">
                          <span class="currency">$</span>
                          <span id="tax">{{ tax }}</span>
                        </span>
                      </li>
                      <li style="list-style-type: none; font-weight: 600;">
                        TOTAL
                        <span class="price float-right">
                          <span class="currency">$</span>
                          <span id="total">{{ grand_total }}</span>
                        </span>
                      </li>
                      <!-- Select payment method -->
                      <h5>SELECT PAYMENT METHOD</h5>
                      <div class="payment-method">
                        <label>
                          <input type="radio" name="payment_method" value="PayPal">
                          <img src="{% static 'images/PayPal.png' %}" alt="PayPal" width="100">
                        </label>
                      </div>
                      <span class="text-danger" id="payment-method-error"></span>
                      <!-- Select payment method -->
                      <div class="flex-btn">
                        <button onclick="return payMethodConfirm();" type="submit" class="btn btn-danger w-100 p-2 mt-3">PLACE ORDER</button>
                      </div>
                      
                    </ul>
                    <!-- end the form -->
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Main Section End -->


<script>
    function payMethodConfirm(){

        var payMethod = $("input[name='payment_method']:checked").val()
        if(!payMethod){
            $('#payment-method-error').html("Select Payment Method!");
            return false;
        }else{
            var conf = confirm('You have selected '+payMethod+' as your preferred payment method.\nClick "OK" to continue.')
            if(conf == true){
                return true;
            }else{
                return false;
            }
        }
        
    }

    $('input[name=payment_method]').on('change', function(){
        $('#payment-method-error').html("");
    })
</script>

{% endblock %}