{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- Main Section Start -->
<div class="main-section">
    <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 10px;margin-bottom: 0px;">
        <div class="container">
          <div class="listing-sorting-holder">
            <div class="margin-bottom-20">
                    <h2>{{ vendor_count }} Restaurant's found</h2>
            </div>
        </div>
        

                    <div class="flex-div">                
                            
                            <div class="listing simple">
                                <ul>
                                    {% for vendor in vendors %}
                                    <li style="line-height: 15px;" class="li-box">
                                        <div class="img-holder">
                                            <figure>
                                                <a href="#">
                                                    {% if vendor.userprofile.profile_picture %}
                                                    <img src="{{ vendor.userprofile.profile_picture.url }}" class="img-list wp-post-image" alt="">
                                                    {% else %}
                                                    <img src="{% static 'images/default-profile.png' %}" class="img-list wp-post-image" alt="">
                                                    {% endif %}
                                                </a>
                                            </figure>
                                            <!-- {% if vendor.is_open %}
                                            <span class="restaurant-status open"><em class="bookmarkRibbon"></em>Open</span>
                                            {% else %}
                                            <span class="restaurant-status close"><em class="bookmarkRibbon"></em>Close</span>
                                            {% endif %} -->
                                        </div>
                                        <div class="text-holder">
                                            
                                            <div class="post-title">
                                                <h5>
                                                    <a href="{% url 'vendor_detail' vendor.vendor_slug %}">{{ vendor.vendor_name }}</a>
                                                </h5>
                                            </div>
                                            {% if vendor.userprofile.address %}
                                            <span><small class="text-muted">{{ vendor.userprofile.address }}</small></span>
                                            {% endif %}

                                            <div class="list-option margin-top-30">

                                              <a href="{% url 'vendor_detail' vendor.vendor_slug %}" class="viewmenu-btn text-color">View Menu</a>
                                            </div>

                                            <!-- {% if source_location %}
                                            <br>
                                            <span><small><b>{{vendor.kms}}km</b> away from {{source_location}}</small></span>
                                            {% endif %} -->
                                        </div>
                                        
                                    </li>
                                    {% endfor %}
                                    
                                </ul>
                            </div>
                            
                     
                        <div class="section-sidebar">
                            <div class="message-box" style="background-color: #fa9918;">
                                <strong>I'm not Listed!</strong><span>is your restaurant or
                                    business not
                                    listed on over site</span>
                                <a href="{% url 'registerVendor' %}" class="request-btn">Add Your business!</a>
                            </div>
                        </div>
                    </div>
                
            
        </div>
    </div>
</div>
<!-- Main Section End -->

{% endblock %}