{% load static %}
<!-- Footer Start -->
<footer id="footer" class="footer footer-style-2 box-3">
  <div class="footer-widget">
    <div class="container">

    </div>
  </div>
  <div class="copyright-sec">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="copyright-inner">
            <div class="copy-right">
              <p>© 2023 YumCart. All rights reserved & developed By <a class="name-link" href="mailto:rezwanatech@gmail.com">Rezwana</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Footer End -->
</div>

<!-- Modal Popup End -->
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
