 {% extends 'base.html' %}
 {% load static %}
 
 {% block content %}
 <!-- Main Section Start -->
 <div class="main-section box-2">
  <!-- Home Pages Elements Strat -->

  <!-- Main Search Start -->
  <div class="page-section nopadding cs-nomargin" style="padding-top: 100px; padding-bottom: 100px; margin-bottom: 0px; background: url({% static 'extra-images/bg-image1.jpg' %}) no-repeat center / cover;">
    <div class="home-container">
      <div class="cover-page-row">
          <div class="element-title-box">
            <figure class="d-flex justify-content-center">
                <img src="{% static 'logo/YumCartLogo.png' %}" alt="YumCart" width="200" height="100%">
            </figure>
            <h1 style="font-size: 40px; color: #505050; line-height: 50px; margin-bottom: 20px; text-align:center;">
              Pick Your Restaurant From <br>YumCart Food Marketplace</h1>
          </div>

          <div class="main-search fancy">
            
            <form action="{% url 'search' %}" method="GET">

                <div class="form-group">
                  <div class="field-holder">
                    <input type="text" name="keyword" placeholder="Resturant name or food name" class="search-input">
                  </div>
                </div>

                <div class="form-group">
                  <div class="field-holder foodbakery-locations-fields-group">
                        <!-- <div class="foodbakery-locations-fields-group foodbakery-focus-out"> -->
                          <span class="foodbakery-search-location-icon"><i class="icon-location"></i></span>
                          
                          <input type="text" name="address" class="location-field-text filter search-input" id="id_address" placeholder="All Locations">
                          <input type="hidden" name="lat" value="" id="id_latitude">
													<input type="hidden" name="lng" value="" id="id_longitude">
                          
                        <!-- </div> -->
                  </div>
                </div>

                <div class="form-group">
                  <div class="field-holder">
                    <select name="radius" id="radius" class="option-box" required>
                      <option value="" selected>Choose Radius</option>
                      <option value="5">5km</option>
                      <option value="10">10km</option>
                      <option value="15">15km</option>
                      <option value="25">25km</option>
                      <option value="50">50km</option>
                      <option value="75">75km</option>
                      <option value="100">100km</option>
                    </select>

                  </div>
								</div>

                <div class="search-div">
                  <div class="field-holder search-btn-div">
                    <input type="submit" value="Search">
                  </div>
                </div>

            </form>


          </div>

        
      </div>
    </div>
  </div>
  <!-- Main Search End -->
 
 <!-- Choose From Most Popular Listin Start -->
 <div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 50px;margin-bottom: 0px;background: #ffffff;">
  <div class="container">
    <div class="grid-div">
      <div class="">
        <div class="element-title align-center">
          <h2>Choose From Most Popular Restaurants</h2>
        </div>
      </div>
      <div class="">
        <div class="">
          <ul class="listing fancy">
            {% for vendor in vendors %}
            <li class="">
              <div class="list-post featured">
                <div class="img-holder">
                  <figure>
                    <a href="">
                      {% if vendor.userprofile.profile_picture %}
                      <img src="{{ vendor.userprofile.profile_picture.url }}" class="img-thumb wp-post-image" alt="">
                      {% else %}
                      <img src="{% static 'images/default-profile.png' %}" class="img-thumb wp-post-image" alt="">
                      {% endif %}
                    </a>
                  </figure>


                </div>
                <div class="text-holder">
                  
                  <div class="post-title">
                    <h5>
                      <a href="{% url 'vendor_detail' vendor.vendor_slug %}">{{ vendor }}</a>
                    </h5>
                  </div>
                  {% if vendor.userprofile.city and vendor.userprofile.state and vendor.userprofile.zip_code %}
                  <span>{{ vendor.userprofile.city }}, {{ vendor.userprofile.state }}, {{ vendor.userprofile.zip_code }}</span>
                  {% endif %}

                </div>

              </div>
            </li>
            {% endfor %}
            
  

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Choose From Most Popular Listing End -->

  <!-- Home Pages Elements End  -->
</div>
<!-- Main Section End -->

{% endblock %}